body{
  text-align: center;
  background-color: rgb(223, 173, 149);
  width: 20%;
  margin-left: 600px
}
button {
  height: 50px;
  width: 25%;
  margin-top: 20px;
  margin-left: 20px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 120%;
  background-color: rgb(117, 185, 185);
  cursor: pointer;
}
h1 {
  color: rgb(214, 46, 116);
  font-family: comic sans ms;
  border-top: 4px solid ;
  border-bottom: 4px solid
}
.num button{
  background-color: rgb(122, 206, 136)
}
p {
  font-size: 120%;
  font-family: comic sans ms;
  font-weight: bold;
  margin-top: 50px;
  color: rgb(34, 46, 70)
}
